body {
    background-color: var(--main-color);
    color: var(--text-color);
    font-family: BalooThambi2, 'Times New Roman', Times, serif;
}

.header {
    display: flex;
    align-items: center;
    box-shadow: var(--neumorphism-raised);
    padding: 0 0.5em;
    gap: 1em;
    height: 3.6em;
}

.header__menu-button {
    min-width: var(--sise);
    height: var(--sise);
    display: none;
}

.menu-button__icon {
    max-width: 1em;
    margin: 0 auto;
}

.header__nav {
    height: var(--sise);
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    gap: 1em;
    margin: 0;
}

.nav__item {
    list-style: none;
    position: relative;
}

.nav__link,
.nav__item--submenu {
    padding: 0 0.7em 0 0.7em;
    line-height: var(--sise);
    display: flex;
    align-items: center;
    align-content: center;
    gap: 0.5em;
}

.item__link--active {
    box-shadow: var(--neumorphism-inset);
}

.nav__icon {
    display: block;
    width: 1em;
}

.nav__list:last-child .nav__link {
    width: var(--sise);
    height: var(--sise);
}


.nav__item--submenu{
    cursor: pointer;
    position: relative;
    padding-right: 1.8em;
}
.nav__item--submenu::after{
    content: '';
    position: absolute;
    width: .6em;
    height: .5em;
    top: .9em;
    right: 0.5em;
    background-color: #fff;
    clip-path: polygon(0 0, 50% 100%, 100% 0);
}



.nav__submenu {
    position: absolute;
    top: var(--sise);
    width: 100%;
    left: 0;
    display: none;
    flex-direction: column;
    padding: 0;
}

.nav__submenu .nav__link{
    box-shadow: none;
}

.nav__submenu::before{
    content: '';
    position: absolute;
    width: 100%;
    height: calc(100% - 0.2em);
    top: 0.4em;
    box-shadow: var(--neumorphism-raised);
    background-color: var(--main-color);
    border-radius: var(--radio);
}

.nav__item--submenu .list__item:first-child{
    margin-top: 0.4em;
}

.nav__item--submenu:hover > .nav__submenu{
    display: flex;
}

.main{
    margin: 0.5em;
}

@media (max-width: 670px) {
    .header__menu-button {
        display: block;
    }

    .nav__list:first-child {
        background-color: var(--main-color);
        position: fixed;
        flex-direction: column;
        min-width: 17em;
        max-width: 60vw;
        justify-content: start;
        padding: 1em;
        height: calc(100vh - 3.9em);
        top: 3.9em;
        bottom: 0;
        left: 0;
        transition: transform 0.3s ease-in-out;
        transform: translateX(-100%);
        box-shadow: var(--neumorphism-raised);
        z-index: 20;
    }

    .nav__list.nav__list--show {
        transform: translateX(0);
    }

    .header__nav {
        justify-content: end;
    }

    .nav__list:first-child .list__item {
        width: 100%;
    }

    .nav__list:first-child .item__link {
        padding: 0.1em 0.5em;
        margin: 0;
    }

    .nav__list:first-child .nav__icon {
        max-width: 1.4em;
    }
}
