:root {
    --main-color: #243441;
    --shade-color: #121a21;
    --glow-color: #364e62;
    --text-color: #fcfcfc;

    --neumorphism: 2px 2px 6px var(--shade-color),
        -2px -2px 6px var(--glow-color);
}

@font-face {
    font-family: 'BalooThambi2';
    src: url(../asset/fonts/BalooThambi2-Medium.ttf);
}

* {
    background-color: var(--main-color);
    color: var(--text-color);
    font-family: BalooThambi2, 'Times New Roman', Times, serif;
}

.header {
    display: flex;
    align-items: center;
    box-shadow: var(--neumorphism);
    padding: 0 0.7em;
    gap: 1em;
    height: 3.6em;
}

.header__hamburger {
    border: none;
    cursor: pointer;
    box-shadow: var(--neumorphism);
    border-radius: 0.3em;
    min-width: 2.2em;
    height: 2.2em;
    display: none;
}

.header__nav {
    height: 2.2em;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    gap: 1em;
    margin: 0;
}

.list__item {
    list-style: none;
}

.item__link {
    padding: 0 0.7em 0 0.7em;
    line-height: 2.2em;
    align-items: center;
    align-content: center;
    gap: 0.5em;
    display: flex;
    text-decoration: none;
    color: var(--text-color);
    box-shadow: var(--neumorphism);
    border-radius: 0.3em;
}

.link__img {
    display: block;
    min-width: 1em;
}

.nav__list:last-child .item__link {
    width: 2.2em;
    height: 2.2em;
}

@media (max-width: 670px) {

    .header__hamburger {
        display: block;
    }

    .nav__list:first-child {
        position: absolute;
        flex-direction: column;
        min-width: 20em;
        max-width: 90vw;
        justify-content: start;
        padding: 1em;
        height: calc(100vh - 3.6em);
        top: 3.6em;
        left: 0;
        transition: transform 0.3s ease-in-out;
        z-index: -10;
        box-shadow: var(--neumorphism);
    }

    .header__nav{
        justify-content: end;
    }

    /* .nav__list.nav__list--show {
        transform: translateX(0);
    } */

    .nav__list:first-child .list__item {
        width: 100%;
    }

    .nav__list:first-child .item__link {
        padding: .2em .5em;
        margin: 0;
    }

    .nav__list:first-child .link__img {
        max-width: 1.4em;
    }
}