:root {
    --main-color: #243441;
    --shade-color: #121a21;
    --glow-color: #364e62;
    --text-color: #fcfcfc;

    --neumorphism-raised: 2px 2px 6px var(--shade-color),
        -2px -2px 6px var(--glow-color);

    --neumorphism-inset: inset 2px 2px 6px var(--shade-color),
        inset -2px -2px 6px var(--glow-color);

    --sise: 2.2em;
    --radio: 0.3em;

}

.customer{
    /* background-color: red; */
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    /* width: 100%; */
}

.customer--input{
    background-color: transparent;
    box-shadow: var(--neumorphism-inset);
    border: none;
    border-radius: var(--radio);
    height: var(--sise);
    outline: none;
    padding-left: .5em;
    color: var(--text-color);
}
.customer--input:first-child {
    flex: 10 0 7em; 
    min-width: 6em;
}    

.customer--input:last-child {
    flex: 1 0 6em; 
    min-width: 6em;
    /* min-width: 6em; */
}