:root {
    --main-color: #243441;
    --shade-color: #121a21;
    --glow-color: #364e62;
    --text-color: #fcfcfc;

    --neumorphism-raised: 2px 2px 6px var(--shade-color),
        -2px -2px 6px var(--glow-color);

    --neumorphism-inset: inset 2px 2px 6px var(--shade-color),
        inset -2px -2px 6px var(--glow-color);

    --sise: 2.2em;
    --radio: 0.3em;

}

.title--mt{
    /* background-color: red; */
    margin: 0;
}