.form__employer {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    margin: 1em 0;
}

.employer__input {
    border-radius: var(--radio);
    height: var(--sise);
    padding-left: 0.5em;
}
.employer__input:first-child {
    flex: 10 0 7em;
    min-width: 6em;
}

.employer__input:last-child {
    flex: 1 0 5.5em;
    min-width: 5.5em;
}

.form__table {
    box-shadow: var(--neumorphism-raised);
    border-radius: var(--radio);
    overflow: hidden;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table__caption {
    font-size: 1.5em;
    padding: 0.2em;
}

.header__head {
    font-weight: normal;
    font-size: 1.1em;
    padding: 0.4em;
}

.header__row {
    background-color: #152733;
}

.table__row:nth-child(odd) {
    background-color: #243646;
}

.table__data {
    border-top: 1px solid var(--glow-color);
    font-size: 0.85em;
    height: 3em;
}

.header__head + .header__head,
.table__data + .table__data {
    border-left: 1px solid var(--glow-color);
}

.table__data:nth-child(2) {
    text-align: center;
    white-space: nowrap;
}
.table__amount {
    padding: 0.3em;
    border-radius: var(--radio);
    width: 2.2em;
    text-align: center;
}
.table__indication {
    width: 1.7em;
}
.table__data:first-child {
    display: flex;
    /* height: 3em; */
    margin: auto;
    align-items: center;
    justify-content: space-between;
}
.table__grounding-box {
    width: 3em;
    min-width: 3em;
}

.table__grounding {
    max-width: 1.1em;
    display: inline;
}
.grounding__check {
    margin-left: 0.2em;
    width: 1.3em;
    height: 1.3em;
}

.table__data:last-child {
    text-align: center;
}

.table__button {
    border-radius: 100%;
    width: 1.7em;
    height: 1.7em;
    padding: 0.6em;
}
.table__row:last-child .table__data:first-child{
    display: table-cell;
    text-align: right;
}

.table__submit{
    height: 100%;
    padding: 0 1em;
    border-radius: 1.5em;
}